body {
  background-color: white;
  margin: 0 0 0 0;
}

.header {
    background-color: black;
    display: flex;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    z-index: 10;
}

.logo {
    background-image: url('images/LLSLogo23NoText\(1\).svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.header > .logo {
    width: 100px;
    height: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

.header > h1{
    font-size: 35px;
    font-family: "Prompt", sans-serif;
    color: white;
    padding-left: 12px;
    margin: 0;
    background-color: black;
    width: 168px;
}

.header > h2 {
    font-size: 70px;
    font-family: "Prompt", sans-serif;
    color: #fad019;
    padding-left: 12px;
    margin: 0;
    background-color: black;
}

@media screen and (max-width:730px) {
    .header > h2{
        font-size: 60px;
    }
}

@media screen and (max-width:630px) {
    .header > h2{
        font-size: 50px;
    }
}

@media screen and (max-width:540px) {
    .header > h2{
        font-size: 40px;
    }
}

@media screen and (max-width:460px) {
    .header {
      background-color: black;
    }
    .header > h1{
        font-size: 35px;
    }
    .header > h2{
        font-size: 35px;
        display: none;
    }
}

.profiles {
    width: 95%;
    max-width: 1500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.profile {
    width: calc(100% - 8px);
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #fad019;
    display: flex;
}

.profile > div > img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    background-color: orange;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 4px solid #fad019;
    border-right: 4px solid #fad019;
}

.profile > div:has(.namespace) {
    width: 204px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.namespace {
    position: relative;
    padding: 4px;
    padding-right: 0px;
    flex-grow: 0;
}

.namespace > h1 {
    font-size: 2rem;
    font-family: "Prompt", sans-serif;
    font-style: bold;
    font-weight: 700;
    color: black;
    margin: 0;
    width: auto;
    height: auto;
    position: relative;
    z-index: 2;
}

.namespace > h3 {
    font-size: 8rem;
    font-family: serif;
    font-style: normal;
    font-weight: 400;
    color: #fad019;
    margin: 0;
    width: auto;
    height: auto;
    position: absolute;
    top: -1rem;
    left: 1.5rem;
    z-index: 1;
    text-shadow:
        4px 4px 0 #c89e00,
        -4px 4px 0 #c89e00,
        4px -4px 0 #c89e00,
        -4px -4px 0 #c89e00,
        4px 0px 0 #c89e00,
        -4px 0px 0 #c89e00,
        0px -4px 0 #c89e00,
        0px 4px 0 #c89e00,
        2px 2px 0 #c89e00,
        -2px 2px 0 #c89e00,
        2px -2px 0 #c89e00,
        -2px -2px 0 #c89e00,
        2px 0px 0 #c89e00,
        -2px 0px 0 #c89e00,
        0px -2px 0 #c89e00,
        0px 2px 0 #c89e00
    ;
    overflow: visible;
}

.namespace > h2 {
    font-size: 1.5rem;
    font-family: "Prompt", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #b4b4b4;
    margin: 0;
    width: auto;
    height: auto;
    padding-top: 20px;
}

.profile > div:has(.colorbar) {
    flex-grow: 1;
}

.profile > div > .colorbar {
    width: 100%;
    height: 20px;
    margin: 0;
    background-color: #fad019;
}

.profile > div > .description {
    font-size: 2rem;
    font-family: "Prompt", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    background-color: #e5e5e5;
    width: 100%;
    margin-top: -4px;
    margin-bottom: -4px;
}

.profile > div > .description > p {
    margin: 4px;
    padding-right: 20px;
}

.profile > div > .description > h4 {
    font-size: 1.25rem;
    font-family: "Prompt", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #282828;
    margin: 4px;
    padding-right: 20px;
}

.signature {
    display: block;
    width: calc(100% - 20px);
    text-align: right;
}

.rochester {
    font-family: "Rochester", cursive;
}

.preface {
  width: calc(100vw - 60px);
  padding: 30px;
  background-color: white;
}

.preface > p {
    font-size: 2rem;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1000px;
}

@media screen and (max-width:1100px) {
    .preface > p {
        font-size: 1.5rem;
    }

    .namespace > h1 {
        font-size: 1.5rem;
    }

    .namespace > h3 {
        font-size: 6rem;
        top: -1rem;
        left: 1.5rem;
    }

    .namespace > h2 {
        font-size: 1.5rem;
    }

    .profile > div > .description {
        font-size: 1.5rem;
    }

    .profile > div > .description > h4 {
        font-size: 1rem;
    }
}

@media screen and (max-width:650px) {
    .preface > p {
        font-size: 1rem;
    }

    .namespace > h2 {
        font-size: 1rem;
    }

    .profile > div > .description {
        font-size: 1rem;
    }

    .profile > div > .description > h4 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:600px) {
    .profile {
        flex-direction: column;
    }

    .profile > div:has(.namespace) {
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-direction: row;
    }
}