body {
  background-color: white;
  margin: 0 0 0 0;
}

.header {
    background-color: black;
    display: flex;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    z-index: 10;
}

.logo {
    background-image: url('images/LLSLogo23NoText\(1\).svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.header > .logo {
    width: 100px;
    height: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
}

.header > h1{
    font-size: 35px;
    font-family: "Prompt", sans-serif;
    color: white;
    padding-left: 12px;
    margin: 0;
    background-color: black;
    width: 168px;
}

.header > h2 {
    font-size: 70px;
    font-family: "Prompt", sans-serif;
    color: #ec813b;
    padding-left: 12px;
    margin: 0;
    background-color: black;
}

@media screen and (max-width:730px) {
    .header > h2{
        font-size: 60px;
    }
}

@media screen and (max-width:630px) {
    .header > h2{
        font-size: 50px;
    }
}

@media screen and (max-width:540px) {
    .header > h2{
        font-size: 40px;
    }
}

@media screen and (max-width:460px) {
    .header {
      background-color: black;
    }
    .header > h1{
        font-size: 35px;
    }
    .header > h2{
        font-size: 35px;
        display: none;
    }
}

.preface {
  width: calc(100vw - 60px);
  padding: 30px;
  background-color: white;
}

.preface > p {
    font-size: 2rem;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1000px;
}

@media screen and (max-width:1100px) {
    .preface > p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1050px) {
    .preface > p {
        max-width: 95%;
    }
}

@media screen and (max-width:1100px) {
    .preface > p {
        font-size: 1rem;
    }
}

.disclaimer {
    font-size: 3rem;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    color: #b4b4b4;
    text-align: center;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    max-width: 1000px;
}