:root {
  --caro-gap: 10vw;
  --caro-width: 40%;
  --caro-height: 60%;
  --caro-width-large: 0;
  --caro-height-large: 0;
  --mobile-view: 0;
  --desk-description-width: 200px;
  --desk-description-height: 200px;
}

@media screen and (max-width:9999px) {
    :root {
        --caro-width: 360px;
        --caro-height: 480px;
        --caro-width-large: 420px;
        --caro-height-large: 560px;
    }

    .shaharazon {
        background-image: url('images/SHAHARAZON_display_360_480.png');
    }

    .wyrm-canyon {
        background-image: url('images/WyrmCanyon_display_360_480.png');
    }

    .goblin-knight {
        background-image: url('images/goblinknight_display_360_480.png');
    }

    .mage-hand {
        background-image: url('images/MageHand_display_360_480.png');
    }

    .kill-protocol {
        background-image: url('images/KillProtocol_display_360_480.png');
    }

    .xcvb {
        background-image: url('images/XCVB_display_360_480.png');
    }

    .carousel-group {
        top: 40px;
    }

    .carousel-describers-desk {
        display: block;
    }

    .carousel-describers-mobile {
        display: none;
    }
}

@media screen and (max-width:1100px) {
    :root {
        --caro-width: 300px;
        --caro-height: 400px;
        --caro-width-large: 360px;
        --caro-height-large: 480px;
    }

    .shaharazon {
        background-image: url('images/SHAHARAZON_display_300_400.png');
    }

    .wyrm-canyon {
        background-image: url('images/WyrmCanyon_display_300_400.png');
    }

    .goblin-knight {
        background-image: url('images/goblinknight_display_300_400.png');
    }

    .mage-hand {
        background-image: url('images/MageHand_display_300_400.png');
    }

    .kill-protocol {
        background-image: url('images/KillProtocol_display_300_400.png');
    }

    .xcvb {
        background-image: url('images/XCVB_display_300_400.png');
    }

    .carousel-group {
        top: 40px;
    }

    .carousel-describers-desk {
        display: block;
    }

    .carousel-describers-mobile {
        display: none;
    }
}

@media screen and (max-width:1000px) {
    :root {
        --caro-width: 300px;
        --caro-height: 400px;
        --caro-width-large: 360px;
        --caro-height-large: 480px;
        --mobile-view: 0;
        
    }

    .shaharazon {
        background-image: url('images/SHAHARAZON_display_300_400.png');
    }

    .wyrm-canyon {
        background-image: url('images/WyrmCanyon_display_300_400.png');
    }

    .goblin-knight {
        background-image: url('images/goblinknight_display_300_400.png');
    }

    .mage-hand {
        background-image: url('images/MageHand_display_300_400.png');
    }

    .kill-protocol {
        background-image: url('images/KillProtocol_display_300_400.png');
    }

    .xcvb {
        background-image: url('images/XCVB_display_300_400.png');
    }

    .carousel-group {
        top: 40px;
    }

    .carousel-describers-desk {
        display: none;
    }

    .carousel-describers-mobile {
        display: block;
    }
}

@media screen and (max-width:600px) {
    :root {
        --caro-width: 300px;
        --caro-height: 400px;
        --caro-width-large: 300px;
        --caro-height-large: 400px;
        --mobile-view: 1;
    }

    .carousel-group {
        top: 0;
    }

    .carousel-describers-desk {
        display: none;
    }

    .carousel-describers-mobile {
        display: block;
    }
}

body {
  background-color: yellow;
  margin: 0 0 0 0;
}

.carousel {
    position: relative;
    width: 100vw;
    margin: 0 0 0 0;
    overflow: hidden;
    min-height: var(--caro-height-large);
    background-color: white;
    
}

.carousel-background {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.1s ease;
    opacity: 1;
    display: none;

}

.carousel-group {
    position: relative;
    display: flex;
    transition: transform 0.2s ease;
    gap: var(--caro-gap);
}

.carousel-item {
    min-width: var(--caro-width);
    min-height: var(--caro-height);
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
    left: 10px;
}

.carousel-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 2;
    right: 10px;
}

.carousel-button-expand {
    min-width: var(--caro-width-large);
    min-height: var(--caro-height-large);
    background: rgba(0, 0, 0, 0);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 3;
    transition: transform 0.2s ease;
    transform-origin: center;
    transform: scale(0.86, 0.86);
}

.carousel-expand-image {
    height: 100%;
    width: 100%;
    position: absolute;
    min-width: var(--caro-width-large);
    min-height: var(--caro-height-large);
    top: 0;
    left: 0;
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.15s ease;
    opacity: 0;
}

.center-children {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
}

.crud {
    font-size: 8rem;
    height: 3000px;
}

.carousel-describers-desk {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 3;
    width: 100vw;
    height: var(--caro-height-large);
    pointer-events: none;
}

.carousel-description-background {
    width: var(--desk-description-width);
    height: var(--desk-description-height);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.carousel-description-text {
    width: var(--desk-description-width);
    height: var(--desk-description-height);
    position: absolute;
    top: 0;
    left: 0;
    perspective: 0px;
    z-index: 4;
}

.carousel-description-credit {
    width: var(--desk-description-width);
    height: var(--desk-description-height);
    position: absolute;
    top: 0;
    left: 0;
    perspective: 0px;
    z-index: 4;
}

.carousel-description-credit:has(.carousel-description-credit-SHAHARAZON) {
    z-index: 3;
}

.carousel-description-text:has(.carousel-description-text-KillProtocol) {
    perspective: 400px;
}

.carousel-description-credit:has(.carousel-description-credit-KillProtocol) {
    perspective: 400px;
}

.carousel-description-text-SHAHARAZON {
    width: 100%;
    height: 100%;
    border-color: transparent;
    border-style: solid;
    border-width: 9px 4px 4px 4px;
    border-image-source: url('images/SHAHARAZON_border_image_1.png');
    border-image-slice: 9 26 4 4;
    border-image-repeat: repeat;
    border-image-width: 9px 26px 4px 4px;
    image-rendering: pixelated;
    padding: 4px;
    position: absolute;
    top: -9px;
    left: -4px;
    background-color: #173ff9;
    color: white;
}

.carousel-description-credit-SHAHARAZON {
    width: 100%;
    height: 80px;
    border-color: transparent;
    border-style: solid;
    border-width: 9px 4px 4px 4px;
    border-image-source: url('images/SHAHARAZON_border_image_1.png');
    border-image-slice: 9 26 4 4;
    border-image-repeat: repeat;
    border-image-width: 9px 26px 4px 4px;
    image-rendering: pixelated;
    padding: 4px;
    position: absolute;
    top: -40px;
    left: 60px;
    background-color: #173ff9;
    color: white;
}

.carousel-description-text-WyrmCanyon {
    width: 100%;
    height: 100%;
    border: 16px solid transparent;
    border-image: url('images/WyrmCanyon_border_image_1.png') 16 round;
    background-clip: padding-box;
    image-rendering: pixelated;
    padding: 4px;
    position: absolute;
    background-color: #ff65c7;
    color: black;
}

.carousel-description-credit-WyrmCanyon {
    width: 50%;
    height: 50%;
    border: 16px solid transparent;
    border-image: url('images/WyrmCanyon_border_image_2.png') 16 round;
    background-clip: padding-box;
    image-rendering: pixelated;
    padding: 4px;
    position: absolute;
    background-color: #9f06b0;
    color: white;
    right: 8px;
    bottom: 8px;
}

.carousel-description-background-goblinknight {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black, #a08a12);
    position: absolute;
    opacity: 0.5;
}

.carousel-description-text-goblinknight {
    width: calc(var(--desk-description-width) - 4px);
    height: calc(var(--desk-description-height) - 4px);
    border: 4px solid transparent;
    border-image: url('images/goblinknight_border_image_1.png') 4 round;
    position: absolute;
    color: white;
}

.carousel-description-credit-goblinknight {
    width: var(--desk-description-width);
    height: 107px;
    background-image: url('images/goblinknight_background_image_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    color: black;
    top: -50px;
    line-height: 50px;
    text-align: center;
}

.carousel-description-text-MageHand {
    width: 100%;
    height: 100%;
    border: 16px solid transparent;
    border-image: url('images/MageHand_border_image_1.png') 16 round;
    image-rendering: pixelated;
    position: absolute;
    background-color: black;
    color: white;
}

.carousel-description-credit-MageHand {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    text-align: right;
    top: calc(var(--desk-description-height) - 4px);
}

.carousel-description-text-KillProtocol {
    width: 100%;
    height: 100%;
    transform: rotateY(-30deg);
    transform-style: preserve-3d;
    color: white;
    position: absolute
}

.carousel-description-credit-KillProtocol {
    width: 100%;
    height: 100%;
    transform: rotateY(-30deg);
    transform-style: preserve-3d;
    color: white;
    position: absolute;
    top: -30px;
}

.carousel-description-background-XCVB {
    width: 100%;
    height: 100%;
    position: relative;
    top: -128px;
    left: -128px;
    background-image: url('images/XCVB_background_1.png');
    background-repeat: repeat;
    animation: scrollXCVBBackground 5s linear infinite;
    min-width: 1000px;
    min-height: 1000px;
}

.carousel-description-text-XCVB {
    width: calc(var(--desk-description-width) - 16px);
    height: calc(var(--desk-description-height) - 16px);
    border: 12px solid transparent;
    border-image: url('images/XCVB_border_image_1.png') 12 round;
    image-rendering: pixelated;
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
}

.carousel-description-credit-XCVB {
    width: calc(var(--desk-description-width) - 4px);
    height: 40px;
    border: 2px solid transparent;
    border-image: url('images/XCVB_border_image_2.png') 2 round;
    image-rendering: pixelated;
    position: absolute;
    background-color: black;
    color: #173ff9;
    top: -50px;
}



@keyframes scrollXCVBBackground {
    0% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(128px, 128px);
    }
}

.carousel-description-background-null {
    min-width: 0px;
    min-height: 0px;
}

.carousel-description-text-null {
    min-width: 0px;
    min-height: 0px;
}

.carousel-description-credit-null {
    min-width: 0px;
    min-height: 0px;
}

.darkeners {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 2;
    transition: opacity 0.15s ease;
    opacity: 0;
}

.dark {
    width: 0%;
    height: 100%;
    opacity: 0.8;
    background-color: black;
    flex: 1 1 0%;
}

.darken_l {
    width: 128px;
    height: 100%;
    opacity: 0.8;
    background-image: url('images/WEB_darken_l.png');
    flex: 0 0 auto;
}

.darken_r {
    width: 128px;
    height: 100%;
    opacity: 0.8;
    background-image: url('images/WEB_darken_r.png');
    flex: 0 0 auto;
}

.clear {
    width: calc(var(--caro-width-large) + 80px);
    height: 100%;
    opacity: 0;
    flex: 0 0 auto;
}

.carousel-title {
    position: absolute;
    left: 80px;
    bottom: 30px;
    margin: 0;
    z-index: 3;
    font-size: 4rem;
    color: white;
    display: none;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.carousel-release {
    position: absolute;
    left: 80px;
    bottom: 120px;
    margin: 0;
    z-index: 3;
    font-size: 2rem;
    color: white;
    display: none;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
}